#posts
	- @posts.each do |post|
		.post
			%h3.title= link_to post.title, post
			%p.date
				Posted
				= time_ago_in_words(post.created_at)
				ago by
				= post.user.email
			%p.count
			- if post.comments.count == 1
				= post.comments.count 
				reply
			- else
				= post.comments.count 
				replies


%nav
	%a{href: "/", class: "current"} Forum
	%a{href: "/"} About
	%a{href: "/"} ???